<table>
	<thead>
		<tr>
			<td><b>Id</b></td>
			<td><b>Name</b></td>
		</tr>
	</thead>
	<tr>
	<% @users.each do |user| %>
<td><%= user.id %></td>
<td><%= user.name %></td>
<tr>
<% end %>
</table>

<br><br>

<%= link_to 'create', new_user_path %>